<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Restaurant Menu</title>

        <!--font for site title-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap" rel="stylesheet">

        <!--font for rest of menu-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <!--font for stuff at top of the page-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">


        <link rel="stylesheet" href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="/cartTemplate.js" charset="utf-8" defer></script>
    </head>
    <body>
        <header class="header">
            <div class="header-image-container">
                <img src="./benny.jpg" width="150px" height="150px" alt="Benny logo">
            </div>

            <h1 class="site-title">Benny's Restaurant</h1>
            <p class="delivery">Order here or delivery:(458)-420-6969</p>
            <p class="socials">Check out our socials!<br>Ig:@BennytheBeaver</p>
        </header>

        <div class="menu-option-contents">
            <h3>Menu Options</h3>
            <p class="menu-time">Breakfast:8am-12pm<br>Lunch:12pm-6pm<br>Dinner:6pm-11pm<br>Specials:12pm-11pm</p>
            <button id="breakfast-menu-button" class="menu-button">Breakfast</button>
            <button id="lunch-menu-button" class="menu-button">Lunch</button>
            <button id="dinner-menu-button" class="menu-button">Dinner</button>
            <button id="specials-menu-button" class="menu-button">Specials</button>
        </div>

        {{{body}}}
        
    </body>
</html>