<div class="menu-option-contents">
    <h3>Menu Options</h3>
    <p class="menu-time">Breakfast:8am-12pm<br>Lunch:12pm-6pm<br>Dinner:6pm-11pm<br>Specials:12pm-11pm</p>
    <button id="breakfast-menu-button" class="menu-button">Breakfast</button>
    <button id="lunch-menu-button" class="menu-button">Lunch</button>
    <button id="dinner-menu-button" class="menu-button">Dinner</button>
    <button id="specials-menu-button" class="menu-button">Specials</button>
</div>

<div class="breakfast-menu">
    <h2>Breakfast Menu</h2>
    <section class="menu-items">
        {{#each breakfast}}
            {{> menuItem url=url name=name price=price ingredients=ingredients reviews=reviews}}
        {{/each}}
    </section>
</div>

<div class="lunch-menu">
    <h2>Lunch Menu</h2>
    <section class="menu-items">
        {{#each lunch}}
           {{> menuItem url=url name=name price=price ingredients=ingredients reviews=reviews}}
        {{/each}}
    </section>
</div>

<div class="dinner-menu">
    <h2>Dinner Menu</h2>
    <section class="menu-items">
        {{#each dinner}}
            {{> menuItem url=url name=name price=price ingredients=ingredients reviews=reviews}}
        {{/each}}
    </section>
</div>

<div class="specials-menu">
    <h2>Specials Menu</h2>
    <section class="menu-items">
        {{#each specials}}
           {{> menuItem url=url name=name price=price ingredients=ingredients reviews=reviews}}
        {{/each}}
    </section>
</div>

<div class="customer-cart">
            <button id="customer-cart-button" class="cart-button">Cart</button>
</div>

<div id="modal-backdrop" class="hidden"></div>
<div id="customer-cart-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Your Cart</h3>
        </div>

        <div class="modal-body">
            <div class="cart-item">

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button id="modal-buy-button" class="modal-button">Buy Items</button>
        <button id="modal-exit-button" class="modal-button">Exit Cart</button>
    </div>
</div>