.header{
    height: 140px;
}

.header-image-container{
    background-color: white;
}

body{
    font-family: 'Roboto', sans-serif;
}

.site-title{
    position: relative;
    text-align: center;
    font-family: 'Lato', sans-serif;
    bottom: 150px;
    font-size: 100px;
    font-weight: 100;
    margin: 0 0 0 20px;
  }

.delivery{
    position: relative;
    bottom: 280px;
    left: 170px;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.socials{
    position: relative;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    bottom: 300px;
    left: 170px;
}

.menu-option-contents{
    margin-top: 10px;    
    background-color: orange;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
}

.menu-button {
    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #FC6E51;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.menu-button:hover{
    background-color: #f9d2b2;
    border-color: #333;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
}

.cart-button{
    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: black;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.cart-button:hover{
    background-color: white;
    border-color: #333;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
}

.breakfast-menu h2{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 20px;
}

.item-background{
    background-color: #f9d2b2;
    width: 250px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.food-image{
    width: 250px;
    height: 200px;
}

.food-info-background{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 230px;
}

.menu-items{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.lunch-menu h2{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 20px;
}

.dinner-menu h2{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 20px;
}

.specials-menu h2{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 20px;
}